---
layout: handbook-page-toc
title: "Contracts, Probation Periods & PIAA"
description: "GitLab contract information and associated procedures."
---

## On this page

{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}

This page contains GitLab's Team Member contract templates. The DRI for all GitLab Team Member contracts are the [People Connect Team member](https://about.gitlab.com/job-families/people-group/people-connect/). Any changes to any contracts should be requested to the People Connect Team member and will require approval from our Director of Legal, Employment.

## Employment Agreements

The following contracts are for reference only and are viewable by anyone in GitLab.

### United States

**GitLab, Inc**

- [GitLab Inc., part-time employee offer letter](https://docs.google.com/document/d/13RdKBC0as18SgkU9rU3QD--eZFVcoRkdMn2uXLvfr80/edit?usp=sharing)
- [GitLab Inc., employee offer letter without OTE (RSU)](https://docs.google.com/document/d/1hyJQncGYpz7JaXrE2pDCGFm-OLziCNOjFv8toj-CnZs/edit?usp=sharing)
- [GitLab Inc., employee offer letter with OTE (RSU)](https://docs.google.com/document/d/1_PhOFr-wUoJErwOG5AZSs9WopmU5Qp5f-WJpdoj5t_w/edit?usp=sharing)
- [GitLab Inc., employee offer letter with OTE & Draw (RSU)](https://docs.google.com/document/d/1Yg7nwP49VRTkwd_nUlZiaCQw2qAxtX6HUd2vfF3x79c/edit?usp=sharing)
- [GitLab Inc., employee offer letter with director bonus](https://docs.google.com/document/d/1RifRP-gJ6KcqdHEVjtu9o66ak4bm2WctaG04szHuhzI/edit?usp=sharing)
- [GitLab Inc., employee offer letter with signing bonus (RSU)](https://docs.google.com/document/d/1l8Y8fR7ka-E68nBglnHGGuNNadErM4ca4kCTQ-xUh44/edit?usp=sharing)
- [GitLab Inc., employee offer letter with signing and director bonus](https://docs.google.com/document/d/1dNYdhywryK_4Uqhgc5OzJ2KYYjdp7Lm9TkHGY7YqRNI/edit?usp=sharing)
- [GitLab Inc., Employee offer letter (Montana)(No OTE)(RSU)](https://docs.google.com/document/d/16JCWY9y-cPf_SUtMy8Lxe0f9BfMvsF_4K_P3JPY-IB0/edit?usp=sharing)
- [GitLab Inc., Employee offer letter (Montana) (w/OTE)(RSU)](https://docs.google.com/document/d/1qTEx5rlLpMBYv_xD3qmumfSJGCnPX_gANzJQLckOQGU/edit?usp=sharing)
- [GitLab Inc., Employee offer letter (Montana)(w/ OTE & Draw)(RDU)](https://docs.google.com/document/d/1s0QXWpNlXsMry6zh95x_OLqZagaJQCvwAt1utcYE4Qs/edit?usp=sharing)
- [GitLab Inc., Intern offer letter (No OTE, no RSU)](https://docs.google.com/document/d/1xmeU24xUk84qtGKKKkhwqvz5uFmJaro4G1T-a7kdjeI/edit?usp=sharing)

**GitLab Federal, LLC**

- [GitLab Federal LLC, employee offer letter without clearance, without OTE](https://docs.google.com/document/d/1-wX270BZ59kxmH1lASyIqXYonh-bULgxVMP76nXukMw/edit?usp=sharing)
- [GitLab Federal LLC, employee offer letter without clearance, with OTE](https://docs.google.com/document/d/1z5g9NRddmK_Hay1-9vpqUrU0CmKbvj2nYBEvACSbI8A/edit?usp=sharing)
- [GitLab Federal LLC, employee offer letter without clearance, with OTE & Draw](https://docs.google.com/document/d/1lxA_gedTHS9Y_I-i5edd74lPm8LFyW9q_phRpGycKEg/edit?usp=sharing)
- [GitLab Federal LLC, employee offer letter with clearance, with OTE](https://docs.google.com/document/d/1JevKzCG1OoECPJaCTuZDwxFtqiQvMIuQIovOHERaj2s/edit?usp=sharing)
- [GitLab Federal LLC, employee offer letter with clearance, with OTE & Draw](https://docs.google.com/document/d/1cd8UDjl2sH8fARJGyoZnBFQRE1ACe7muLZd7i1s8jYs/edit?usp=sharing)
- [GitLab Federal LLC, employee offer letter with clearance no multiplier, with OTE](https://docs.google.com/document/d/16WSRQb0Jxv0xE-1X4uwWCrfCAXFvc82wyCfCWsrukVw/edit?usp=sharing)
- [GitLab Federal LLC, employee offer letter with clearance no multiplier, with OTE & Draw](https://docs.google.com/document/d/1lVo5zYKUED-jQu611BUxG-AkzAePzLl1MH6Ajd4LaKk/edit?usp=sharing)

### Belgium

- [GitLab BV Belgium, Dutch & English employee contract without OTE (Non-Sales, Position of Trust)](https://docs.google.com/document/d/11qXqEWb1RkPTR9GG7dB9Mc6_2Pj9F7ciEIPokBq60j4/edit?usp=sharing)
- [GitLab BV Belgium, Dutch & English employee contract without OTE (Non-Sales, Not a Position of Trust)](https://docs.google.com/document/d/1ddgDuiHBhYGAdr7ckacKq3tPd5IroPKbfFBSYZ9SBIw/edit?usp=sharing)
-  [GitLab BV Belgium, Dutch & English employee contract with OTE & Draw (Non-sales, Position of Trust)](https://docs.google.com/document/d/1X1Mq1dppLKodgc3F0RloDh70JPsP-uHRJffB_Ej-RI8/edit)
- [GitLab BV Belgium, Dutch & English employee contract with OTE (Non-sales, Position of Trust)](https://docs.google.com/document/d/1X1Mq1dppLKodgc3F0RloDh70JPsP-uHRJffB_Ej-RI8/edit?usp=sharing)
- [GitLab BV Belgium, Dutch & English employee contract with OTE (Non-Sales, Not a Position of Trust)](https://docs.google.com/document/d/1kiBpwdWHQ43lwyWGf6oKtU3Nz2LUXQAAYE9Gw4PB46I/edit?usp=sharing)
- [GitLab BV Belgium, Dutch & English employee contract with OTE & Draw (Sales, Position of Trust)](https://docs.google.com/document/d/1RAcOFsbjSH89oQKZzPM-r0aRPGWEVcAGt50d8NM0AyQ/edit)
- [GitLab BV Belgium, Dutch & English employee contract with OTE (Sales, Position of Trust)](https://docs.google.com/document/d/1RAcOFsbjSH89oQKZzPM-r0aRPGWEVcAGt50d8NM0AyQ/edit?usp=sharing)
- [GitLab BV Belgium, Dutch & English employee contract with OTE & Draw (Sales, Not a Position of Trust)](https://docs.google.com/document/d/1Ek2FSEy2UWv4ASK7bJEOo2CSnsSc--OBv4YtaBnNZpQ/edit)
- [GitLab BV Belgium, Dutch & English employee contract with OTE (Sales, Not a Position of Trust)](https://docs.google.com/document/d/1Ek2FSEy2UWv4ASK7bJEOo2CSnsSc--OBv4YtaBnNZpQ/edit?usp=sharing)
- [GitLab BV Belgium, Dutch & English employee contract with OTE w/ signing bonus (Sales)](https://docs.google.com/document/d/1XCLVzGy41jYXHjaLhy_eH7R-eBd_2vPAgf0_X_ITXf0/edit?usp=sharing)
- [GitLab BV - Belgium, Dutch  & English employee contract without OTE w/ signing bonus (Non-Sales People, Position of Trust)](https://docs.google.com/document/d/1PHb6Iq_4MgH3us9dU3GtcMQ42WzJuE1UR4vgM6Q9cFw/edit?usp=sharing)
- [GitLab BV - Belgium, Dutch & English employee contract without OTE w/ signing bonus (Non-Sales People, Not Position of Trust)](https://docs.google.com/document/d/1ku_rpsJBelfkWlVjrSE87BN0vtK8I_JnA9c4ukbfZdU/edit?usp=sharing)
- [GitLab BV Belgium, Dutch & English employee contract with OTE w/ signing bonus (Sales, Position of Trust)](https://docs.google.com/document/d/1KkPSPQqnUJaeJdNH7eMs2xKE8vyIPxnalTG-yKP7cdI/edit?usp=sharing)
- [GitLab BV - Belgium, Dutch & English employee contract with OTE w/ signing bonus (Non-Sales People, Position of Trust)](https://docs.google.com/document/d/1HeqTcL3_Oc3_62ZwdjisCR_V4bQAnccgq-OegjTesUE/edit?usp=sharing)


### Finland

- [GitLab BV, Finland employee contract without OTE (Non Sales)](https://docs.google.com/document/d/1SQzrGC--Xpn9pmCUAjTXO5F_yv9B4BfKZ5pASE_03E8/edit)

### Netherlands

**Fixed Term**

- [GitLab BV, Netherlands fixed term contract no OTE](https://docs.google.com/document/d/1gRDvTrhnZrSSTd3Yi-2mNh_0VDT1P5ofGH6Vp6RRIhY/edit?usp=sharing)
- [Gitlab BV, Netherlands fixed term contract w/ OTE](https://docs.google.com/document/d/1ALXhPX1PM0h7XRBpgcyVvldzGs9xlo_HaDRWFiLq40o/edit?usp=sharing)
- [GitLab BV, Netherlands fixed term contract w/ OTE & Draw](https://docs.google.com/document/d/11qvaBWgHqKpj8X6S8aPJc2FRTxth-ZnOQ6M4fssJQNQ/edit?usp=sharing)
- [GitLab BV, Netherlands fixed term contract w/director bonus](https://docs.google.com/document/d/117IkcPrjbb5IUsCX_d9mzfxR3OcX5VTPgtP_OB1nGcs/edit)

**Indefinite**

- [GitLab BV, Netherlands - Indefinite contract w/ optional OTE](https://docs.google.com/document/d/1EzVRoTktxLDZRIEYHD60hwyL3EPViEIB006-qLrDHX0/edit?usp=sharing)
- [GitLab BV, Netherlands - Indefinite contract w/ optional OTE and optional signing bonus](https://docs.google.com/document/d/1o1QzHDJqlOe2hMXluBy5lefqDuFSHSwB5kllYCDDG24/edit?usp=sharing)
- [GitLab BV, Netherlands - Indefinite contract with Director bonus](https://docs.google.com/document/d/1D1cIxzXSAoym8G-pl7i4ZAGxHn5oJyeKwSY8b_GfWKs/edit?usp=sharing)
- [GitLab BV, Netherlands - Indefinite contract with Director bonus w/ signing bonus](https://docs.google.com/document/d/1btKvusWHrbUG7xDC_rU4ohlnXfZ21RKGahXwGeBkReg/edit?usp=sharing)

### Germany

_Please note all German contracts are required to have [wet signatures](https://about.gitlab.com/handbook/people-group/contracts-probation-periods/#german-contracts)._

- [GitLab GmbH, employment agreement without OTE](https://docs.google.com/document/d/1TdHjCTfJ0vfwlZLbgu92XAeK9Cm_8n410yTpPrV6HGo/edit?usp=sharing)
- [GitLab GmbH, employment agreement with OTE & Draw](https://docs.google.com/document/d/1d2WXLRCZ3BFlFhV4WlknuFUDibdgtQF4JLXXwdZECeA/edit)
- [GitLab GmbH, employment agreement with OTE](https://docs.google.com/document/d/1d2WXLRCZ3BFlFhV4WlknuFUDibdgtQF4JLXXwdZECeA/edit?usp=sharing)

### Australia

- [GitLab PTY Ltd, Australia, without OTE](https://docs.google.com/document/d/1syTv61Q0BvGlz9DnZ70Uu-XA3CrRsAHLs-KQ-YtVJ8U/edit?usp=sharing)
- [GitLab PTY Ltd, Australia, with OTE](https://docs.google.com/document/d/1ijvUHVOy3mFPW5MktO90NcL2kpiebNGv7wXFSqI3VYE/edit?usp=sharing)
- [GitLab PTY Ltd, Australia, with OTE & Draw](https://docs.google.com/document/d/1BCMIcWEjTt2bNjIAVGwIEUc7nrbo-Nn3JmpJIJbH2VI/edit)

### New Zealand (subsidary of GitLab Australia PTY Ltd)

_All team members in New Zealand are employed by GitLab Australia PTY Ltd. This contract is governed by New Zealand law._

- [GitLab New Zealand per PTY Ltd without OTE](https://docs.google.com/document/d/1oY9Sxgj0HCXTsAJWIO69V1bI9rm_tX7b-v9K0RgTeXM/edit?usp=sharing)
- [GitLab New Zealand per PTY Ltd with OTE](https://docs.google.com/document/d/1LRD4lDbQMTHOux3L26wOzLAn2QruCy8FV7MDBQpDBZg/edit?usp=sharing)
- [GitLab New Zealand per PTY Ltd with OTE & Draw](https://docs.google.com/document/d/1lO4T32nK2tZEUZQ6_sLEmg1gIhYNaJSwExzzMVrV2vI/edit?usp=sharing)

### United Kingdom

- [GitLab UK Ltd, without OTE](https://docs.google.com/document/d/1VWmo4QZcgsQJriC4NdxEF3kgHrYFUtRQPlmkkSj5Lu8/edit)
- [GitLab UK Ltd, with OTE & Draw](https://docs.google.com/document/d/19ZUxDtCGxZo1hMPYYn9RUiqsWSO-Ns9fLMaD3hWoyoU/edit#)
- [GitLab UK Ltd, with OTE](https://docs.google.com/document/d/1B6sJjSSdOsXltvJ6I0Al2TeFUcN_0iTFqg4YSmbtkug/edit#)
- [GitLab UK Ltd., with OTE or Director and signing bonus](https://docs.google.com/document/d/1wOUfNb4gECXjVw75zuspRYqbIpdYC9mYjOFSQnlzHwg/edit#)  
- [GitLab UK Ltd., without OTE and with signing bonus)](https://docs.google.com/document/d/1IaWUWsxZZiCHlqxfndGgSiyxfy6uDsOzItQ5Esrrb9U/edit#)

### France

- [GitLab France S.A.S employment agreement folder](https://drive.google.com/drive/folders/1_Qbq_zJTq0cxQKgp6AgYxNMVw96uetVv)

### Canada

**QC w/o Signing Bonus**

- [GitLab Canada Corp - (Quebec Only) D_S_E Group (No  OTE)](https://docs.google.com/document/d/1Xbh-S5W_gMHglsKssXLdZiN8aNzYPSxwNmiwG_-boOs/edit?usp=sharing)
- [GitLab Canada Corp - (Quebec Only) D_S_E Group (with OTE)](https://docs.google.com/document/d/1plCfn1knxIQgR49nwyjY53A9eW-9LvA_mvXKWd8TO7c/edit?usp=sharing)
- [GitLab Canada Corp - (Quebec Only) D_S_E Group (with OTE & Draw)](https://docs.google.com/document/d/1RWntVco5cHPZRTo6_uD539DFjq3MkLKOtClUnCuaGvI/edit?usp=sharing)
- [GitLab Canada Corp - (Quebec Only) IC/Mgr/Sr.Mgr (No  OTE)](https://docs.google.com/document/d/13utUaX2LREtbcSXy8DLWDQw98xYrWhARlwqqinKAGsQ/edit?usp=sharing)
- [GitLab Canada Corp - (Quebec only) IC/Mgr/Sr.Mgr (with OTE)](https://docs.google.com/document/d/1B5q51Lbbi5hHq7PtJQdMBX52sMvDM00pu2ld1XoGlPo/edit?usp=sharing)
- [GitLab Canada Corp - (Quebec only) IC/Mgr/Sr.Mgr (with OTE & Draw)](https://docs.google.com/document/d/1KANEsG6YJfO6-PP9Rh21xEzLiXLwTA0XFYT52ifJDfk/edit?usp=sharing)

**Non-QC w/o Signing Bonus**

- [GitLab Canada Corp - (All Provinces except for Quebec - with probationary period) No OTE](https://docs.google.com/document/d/1A6sHEU_G5IhyXPvJ9H312Dl9N2gq_cIvBZg1ngHa3G0/edit?usp=sharing)
- [GitLab Canada Corp - (All Provinces except Quebec - with probationary period with OTE](https://docs.google.com/document/d/1k2cWsYLIZVcvUgFRi5DIrs4QVSY-ubpFV9KRN8hrCZE/edit?usp=sharing)
- [GitLab Canada Corp - (All Provinces except Quebec) with OTE & Draw](https://docs.google.com/document/d/12V0dC8eKcIdHi2lKKf3FFIgdmb_NQy2S0N8N838UbBE/edit?usp=sharing)
- [GitLab Canada Corp - (All Provinces except Quebec) Intern no OTE](https://docs.google.com/document/d/10_Ee-b-DxStZDbvHfZTDkaFm6pi6jQ1YnkflaW_O-yY/edit?usp=sharing)

**QC with Signing Bonus**

- [GitLab Canada Corp - (Quebec Only) IC/Mgr/Sr.Mgr NO OTE w/signing bonus](https://docs.google.com/document/d/19WyQPnWC3AkksXQjA6lr_LjTPyP2Rr1QaE-U6e0fwvE/edit?usp=sharing)
- [GitLab Canada Corp - (Quebec Only) IC/Mgr/Sr.Mgr with OTE and signing bonus](https://docs.google.com/document/d/1VnOFWrzljZjiluQx0V8GwrjJ_6SHhV_5UJxxiw1eAoM/edit?usp=sharing)
- [GitLab Canada Corp - (Quebec Only) IC/Mgr/Sr.Mgr with OTE, Draw and signing bonus](https://docs.google.com/document/d/1ikRJ1g2P0vJnVHHjgxGz697UXEjKOfhVXCUMBHy6GD4/edit?usp=sharing)
- [GitLab Canada Corp - (Quebec Only) D_S_E Group NO OTE w/signing bonus](https://docs.google.com/document/d/1Go2mHDJmTqdTYE98ERu1yQgNm2B05o9SswqB7nY7RMg/edit?usp=sharing)
- [GitLab Canada Corp - (Quebec Only) D_S_E Group w/ OTE and signing bonus](https://docs.google.com/document/d/1IsM-Ej6PqkjCL2dL-MROG9uiJULBlBWnxmP28vn8vco/edit?usp=sharing)
- [GitLab Canada Corp - (Quebec Only) D_S_E Group w/ OTE, Draw and signing bonus](https://docs.google.com/document/d/1Q8X0PClXBhEh-jmMgzu-Akkq1xoPX7bFmYFJlIjzBH4/edit?usp=sharing)

**Non-QC with Signing Bonus**

- [GitLab Canada Corp - (All Provinces except Quebec - with probationary period) No OTE w/signing bonus](https://docs.google.com/document/d/1ZDkp8FhhF8CpPnJIZNX6VS5EjCTlqP2mjyjTIFTrXDY/edit?usp=sharing)
- [GitLab Canada Corp - (All Provinces except Quebec) w/ OTE and signing bonus](https://docs.google.com/document/d/1xtNLTtm8LgOy3LDJgYFHmzVsz2TFdHDtcgTHO4xx48Y/edit?usp=sharing)
- [GitLab Canada Corp - (All Provinces except Quebec) w/ OTE, Draw and signing bonus](https://docs.google.com/document/d/1ZoHVAYmjcUFEQEgQpGMXEOOk_b-137fgLssjuB7lJRk/edit?usp=sharing)

### Japan

- [GitLab GK employment agreement without OTE](https://docs.google.com/document/d/1oLZjIFjtLBY7wugARUf9GI8CsyW-6kvt344rTbOMnnM/edit?usp=sharing)
- [GitLab GK employment agreement with OTE](https://docs.google.com/document/d/1_PzQmGgaQprdQwPukXYyVhx9K3sTxowaPuhXjyJq0ME/edit?usp=sharing)

### Ireland 

- [GitLab Ireland Ltd. without OTI](https://docs.google.com/document/d/1QltuPYmF39zL-eRRosAHNABS_-f6eo-2uCKQCEWHAQ4/edit)
- [GitLab Ireland Ltd. without OTI, with Signing bonus](https://docs.google.com/document/d/1vXDNy-rQqzE9Pgmluhk-_qFUNgh0rUQRO7isuOJLu68/edit?usp=sharing)
- [GitLab Ireland Ltd. with OTI](https://docs.google.com/document/d/1PGSkPUMRyki2-WX3k50nWPknVUnNik26QNDiso5MVsw/edit) 
- [GitLab Ireland Ltd. with OTI, with Signing Bonus](https://docs.google.com/document/d/1Kfw41A8iZsbefajrhnieuig5u-LK3CEpYglgMUsrCGM/edit?usp=sharing)
- [GitLab Ireland Ltd. Intern](https://docs.google.com/document/d/1mzBAsvpuzJtJlo_yBCd9gkJwZxA24q7vvOuxzBT3WY4/edit?usp=sharing)

### Singapore

- [Singapore, OTE & Draw](https://docs.google.com/document/d/1gUjknqbANrHhBpUNXRJRUJKjHLxDrrRI2pLwn-ayAx0/edit)
- [Singapore OTE](https://docs.google.com/document/d/1gUjknqbANrHhBpUNXRJRUJKjHLxDrrRI2pLwn-ayAx0/edit) 
- [Singapore w/out OTE](https://docs.google.com/document/d/1-N3IaeHXM6g5-wYMR7E47xJEmeOVXlB58UUyOER6ZMc/edit)

### South Korea

- [South Korea OTE](https://docs.google.com/document/d/1a1IFKlOGOj-a737NlbqXSisTwdJ2b3Uit0pbCsvKTzc/edit)
- [South Korea OTE & Draw](https://docs.google.com/document/d/1a1IFKlOGOj-a737NlbqXSisTwdJ2b3Uit0pbCsvKTzc/edit)
- [South Korea w/out OTE](https://docs.google.com/document/d/1c794DYsupWsq-iqZns2JP7VNwjnd7H6Qs3ikQ0xHxp8/edit)

## Process for Suggesting Changes to the Contract Templates

Contracts are audited and updated on a semi-annual basis. All suggested changes should be added to the current [Global Employment Contract Audit issue](https://gitlab.com/gitlab-com/people-group/people-operations/General/-/blob/master/.gitlab/issue_templates/global-employment-contract-audit.md). If **immediate** changes are needed to any one of the contract templates, follow the process below:

1. Create a Contract Update Issue - The template can be found [here](https://gitlab.com/gitlab-com/people-group/people-operations/General/-/blob/master/.gitlab/issue_templates/Contract-Update-Add.md). 
1. Open the relevant contract template, which automatically redirects to its original editable Google Doc.
1. If you have editing rights in the doc, change the document view to "Suggesting" mode (top right corner). If you do not have editing rights, you are able to make a comment on the doc or alternatively ping the People Connect Team member for assistance with having the suggestions added to the contract for approval.
1. Any edits that are made will then be made as a suggestion to the contract.
1. Once you have made the required changes, please tag the Senior Manager, People Operations as well as our Director of Legal, Employment to view and approve the relevant changes.
1. Once the changes have been approved, it is important to notify the Candidate Experience Specialist Team to update the contracts in Greenhouse.

**No changes or edits should be made to the contracts without the required approval.**

The Senior Manager, Global Enablement reviews if all Greenhouse tokens are correct
1. See [here](https://drive.google.com/file/d/1rq4qTV5WYABDLMaAx76UqmjNwb008qVw/view?usp=sharing) for current set of tokens
1. Update tokens on the contract if applicable
1. Review in Greenhouse if all tokens are available (admin access is needed for that):
- Log in to Greenhouse > click on: Settings (Gear Icon) > Offer Templates > click on: Upload New > Template Name: Country Name (OTE or no OTE) > Make sure `All Offices` `All Departments` and `All Employment Types` are all selected > Upload contract template as .doc file only > Save Template
- Click on Test > Make sure all tokens have blue checks meaning the tokens are valid
1. If you are updating a contract that is already in use (not for a brand new entity), you need to be sure to delete the old version of the contract out of Greenhouse.
1. Delete the uploaded contract again, if it was just a test and final legal approval is still required

## Correcting an error in an issued employment contract

1. If an error is noticed, please make the Associate Manager, Candidate Experience aware.
1. The Associate Manager, Candidate Experience will assign the contract correction to a Candidate Experience Specialist, ideally to the same person, that created the already issued contract.
1. If the change is payroll relevant The Candidate Experience Specialist makes total-rewards@ gitlab.com and uspayroll@ gitlab.com or nonuspayroll@ gitlab.com aware.
1. The Candidate Experience Specialist creates a new corrected contract using above templates and adds the following sentence in: "This agreement is effective {Hire date} and supersedes the employment agreement dated {date of erroneous agreement}."
  -  Make a copy of the template and save it to the [working documents folder](https://drive.google.com/drive/folders/0B4eFM43gu7VPNUlKZEFtNGtSRk0?resourcekey=0-_qX_2OXbs71yJa3HZy0TAQ) on Google Drive to edit
1. The Candidate Experience Specialist creates a [Cover Letter](https://docs.google.com/document/d/1MygLnlmXs2KIUsQZ6jcENVoy4jDeuqij3XV3wQy11VY/edit) explaining the reason for the correction.
  -  Make a copy of the template and save it to the working documents folder on Google Drive to edit
1. Once the new contract and cover letter have been created, ping a Candidate Experience Specialist for auditing.
1. Send the audited created documents and any additional details on the correction to Legal for review.
1. Once approved by Legal stage the cover letter and new contract in DocuSign and send it for signature first to the [Company signatory](https://about.gitlab.com/handbook/hiring/talent-acquisition-framework/ces-contract-processes/#entity-contract-signatories) and subsequently to the team member.
1. Upload the signed documents to the team member's documents folder in Workday.
1. If applicable, make any necessary updates to the team member's Workday profile and email Total Rewards total-rewards@ gitlab.com and Payroll uspayroll@ gitlab.com or nonuspayroll@ gitlab.com to notify them of the changes.

## Letter of Adjustment

If a team member changes roles at GitLab and the approval goes through Greenhouse, the process for a Letter of Adjustment is laid out in the [Letter of Adjustment](/handbook/hiring/talent-acquisition-framework/ces-contract-processes/#letter-of-adjustment) section on the CES Contract Processes handbook page.
If a team member changes roles at GitLab and the approval goes through Workday, the process for a Letter of Adjustment is laid out in the [Letter of Adjustment](/handbook/people-group/promotions-transfers/#letter-of-adjustment) section on the Promotions & Transfers handbook page.
For other instances such as a [Relocation](/handbook/people-group/relocation/), the People Connect Team member will create a [Relocation letter](/handbook/people-group/relocation/#tasks-for-people-operations) according to the parameters as listed in the [Relocation within the Same Country](/handbook/people-group/relocation/#tasks-for-people-operations) section on the Relocation handbook page.

## Probation Period

Upon joining GitLab, some team members (location-dependent, see the below table for detail about each location) will have a probationary period between 1 and 9 months. Common practice is for contracts in each country to have the maximum allowable probationary period. In case of relocation to a different country or change of contract, if a team member has continued service with GitLab (tenure with GitLab has been uninterrupted) and they have already passed the probationary period of their original location or contract, they do not need to go through the probation period of their new location or contract.
As per the onboarding process, the probation period status is added to Workday.

The People Connect Team is responsible for managing the probationary period process internally (communication with the team member, their manager, confirmation of probationary period completion, and updating Workday). In some instances, the People Connect Team may also be responsible for managing relationships with legal counsel externally on a global scale to ensure compliance and iteration.
If an exception request is made to end a probation period early, this should be escalated by the team member's manager to a skip-level and the People Business Partner/Team Member Relations Specialist via email. We will then evaluate the risk, performance and overall reason for the request. Further escalation to Legal might be necessary as well as decision making on how to proceed. There should be no expectation of approval.

### Important steps during the Probation Period

***For Managers***
1. Managers are responsible for monitoring and specifically reviewing performance halfway through the probation period of their direct report.
1. If **underperformance is an issue**, or there is any hesitation regarding the successful completion of a probation period, this should be discussed immediately with Team Member Relations.
1. 14 days prior to the end of their direct reports' Probation Period, the manager will receive an email from the People Connect Team, reminding them that their direct reports' probation period is coming to an end.
1. The Hiring Manager will respond confirming their approval of their direct reports' completion of their probation period as well as the scheduled date of their [121](/handbook/leadership/1-1/) to communicate the successful completion, or that they are in discussions with Team Member Relations.

***For People Connect Team***
1. The People Connect Team will get a notification in Workday 2 weeks before a team members probation period is coming to an end. Leave the notification pending in the inbox for the time being.
1. The respective People Connect Specialist in the rotation will then send an email to the team members manager using this [template](https://gitlab.com/gitlab-com/people-group/people-operations/General/-/blob/master/.gitlab/email_templates/probation_ending_manager.md).
1. From this email, they will log the team members name, manager's name, and probation period end date in the Probation Period tab of the People Exp/Ops Task Tracker.
1. Once the Manager has confirmed that they are satisfied with their direct reports' performance and the date of their 121 to communicate succesful completion, the People Connect Specialist will send a [confirmation email](https://gitlab.com/gitlab-com/people-group/people-operations/General/-/blob/master/.gitlab/email_templates/probation_completed_team_member.md) following the date of the 121 to the team member to notify them that their probation period has been completed. The Specialist will cc the manager on the confirmation email.
1. Once the People Connect Team has received the confirmation, they will complete the review (task in inbox) in Workday, updating the status accordingly (pass/extend/end employment). Add a comment that the manager confirmed via email of the applicable decision.
1. The People Connect Team will upload the email confirmation to the team member's Workday profile under the 'Contracts & Changes' folder and the manager's approval email to the 'Contracts & Changes - Confidential (No Employee View)' folder
1. If no response is received from the manager after 7 days, the People Connect Team will check in Workday if there has been a manager update or change and follow up with a second email and a private message in Slack.
1. If there is still no response after 10 days, the People Connect Team will create a private Slack channel including the manager and relevant People Business Partner to get the needed confirmation.
1. If for some reason, a manager is not contacted prior to a team member's probation notice completion, the manager must still be contacted to notify them that a team member's probation period is over, using the relevant [email template](https://gitlab.com/gitlab-com/people-group/General/-/blob/master/.gitlab/email_templates/probation_no_notification.md).

### Probation Periods of Team Members Employed Through a PEO or an Entity

1. If the team member is contracted or employed through one of our PEOs or alternatively an entity, the People Connect Specialist will also need to reach out to the appropriate point of contact for that PEO to inform them of the team member's probation period completion. That information is listed in the `Entity & Co-Employer HR Contacts` folder within the 1Password People Connect Vault.

1. If a manager is requesting an extension of a team members probation period who is employed via a PEO, the manager will work with Team Member Relations and they will need to send an email to the appropriate point of contact to request an extention of a probation period.
1. The People Connect Specialist will add in the extension of the probation period into Workday. 

### Current Locations With Probationary Periods

<% entities_with_prob = data.entity_mapper.select {|entity| entity.fetch('probation_months', 0) > 0}.sort_by {|k, v| k['country']}%>

<table>
  <thead>
    <tr>
      <th>Country</th>
      <th>Probation Period</th>
      <th>Notice during probation</th>
      <th>Notice after probation</th>
    </tr>
  </thead>
  <tbody>
    <% entities_with_prob.each do |entity| %>
      <tr>
        <td><%= entity['country'] %></td>
        <td>
          <%= entity['probation_months'] %> months <%= entity.fetch('probation_extra', '') %>
        </td>
        <td><%= entity.fetch('notice_during_probation', 'N/A') %></td>
        <td><%= entity.fetch('notice_after_probation', 'N/A') %> </td>
      </tr>
    <% end %>
  </tbody>
</table>

Locations without Probation Periods:

<% entities_without_prob = data.entity_mapper.select {|entity| entity.fetch('probation', '') === 'None'}.sort_by {|k, v| k['country']}%>

<table>
  <thead>
    <tr>
      <th>Country</th>
      <th>Notice</th>
    </tr>
  </thead>
  <tbody>
    <% entities_without_prob.each do |entity| %>
      <tr>
        <td><%= entity['country'] %></td>
        <td><%= entity.fetch('notice_after_probation', 'N/A') %> </td>
      </tr>
    <% end %>
  </tbody>
</table>

## PIAA (Proprietary Information and Assignment Agreement)

GitLab strives to help its team members maintain the ability to work on projects that are unrelated to GitLab’s business, including other open-source projects. Our PIAA does not grant GitLab any rights to any creations that you may make that are not related to GitLab's business or the work you do for GitLab. That is, you are free to develop those creations without requesting approval in advance from GitLab.

If your employment contract was created prior to November 2017, we have created an amendment to the PIAA agreement which can be viewed [here](https://docs.google.com/document/d/1oEfDCIht7Vy6KdcGXWPHZBUXLUUZS9hsvYnOYhQjllg/edit). It amends the 2A section of the PIAA. Please email people-connect@ who will complete and stage the document for signatures. The Amendment will first be signed by the team member and then by the requisite Company signatory.

### Outside Employment (Paid or Unpaid), Projects, and Potentially-Conflicting Activities
GitLab recognizes that Rest and Time Off are Productive and encourages our team members to take time to relax and avoid burnout. However, GitLab also understands that some team members may want to engage in outside employment (paid or unpaid), projects, and/or potentially-conflicting activities during their non-working hours (collectively referred to here as "outside activities").

GitLab reminds these team members that their position with GitLab is their primary employment responsibility, and that GitLab positions are considered full-time employment and they require a team member's full effort and concentration, despite any outside activities.

In order to honor the commitment team members make when they join GitLab, including protecting GitLab's confidential information, trade secrets, and other business interests while team members are engaged in outside activities, GitLab has adopted the following policies:
Outside activities must not interfere with the team member’s work performance or duties; or create an actual or apparent conflict of interest with GitLab. If outside activities lead to a team member’s poor performance, abuse of leave policies, or other negative outcomes relating to their position, GitLab may discipline the team member, up to and including termination.
In line with our core value of Transparency, prior to starting outside activities that could potentially interfere with their commitments to GitLab, team members must disclose it to their manager, as noted below. GitLab will not approve outside activities that compromise a team member's ability to perform their job effectively. 
Team members engaging in outside activities must comply with GitLab's Code of Business Conduct and Ethics, as well as all policies related to Conflicts of Interest, Confidentiality, Non-Competition during Employment, and the Protection of Confidential and Proprietary Information, where enforceable by applicable state or local law. Outside  activities cannot involve or compete with products or services provided or under development by GitLab. Outside activities also cannot make use of any of GitLab's proprietary or confidential information, and team members cannot work in any capacity for any of GitLab's suppliers, customers, or competitors.
GitLab's [Internal Acceptable Use Policy](/handbook/people-group/acceptable-use-policy/#acceptable-use-and-security-requirements-of-computing-resources-at-gitlab) permits limited personal use of GitLab-managed assets. Subject to such limited personal use, team members may not use GitLab's facilities, equipment, supplies, IT systems (such as computers, networks, or email), time, trademarks, brand, or reputation in connection with any outside activities.
This policy is not intended to restrict communications or actions protected or required by state, federal or other applicable law.

### Approval for Outside Activities 

Before beginning outside employment, side projects, or other activities, whether paid or unpaid, that could potentially impair your ability to perform your obligations to GitLab or could be deemed a conflict of interest (collectively referred to as "outside activities"), you must disclose the activity in writing to your Manager, and further escalate as needed. Approval will not be granted if GitLab determines that the proposed outside activity would be a conflict of interest under the Code of Business Conduct and Ethics. Candidates at a certain stage in the recruiting process will also be asked to disclose outside employment, side projects, or other activities in order for GitLab to determine whether a conflict exists with their ability to perform their obligations to GitLab.

#### Steps as a current candidate (actively engaged in the hiring process)

1. At the reference stage, the Recruiter will ask the candidate to complete a form that asks them the following:
to disclose any outside employment, projects, or activities; and 
any inventions or side projects that should be listed on the PIAA.
1. If the candidate discloses outside employment, projects, or activities in the completed form, CES will notify the hiring manager for approval and copy in Team Member Relations at `teammemberrelations@gitlab.com` for visibility and review to ensure consistency in application.  
**Information that will need to be provided to the hiring manager shall include:** 
- Name of the outside employment, project, or activity
- GitLab clients who are involved in the project and scope of involvement (if applicable, please include tech stack used)
- Estimated time investment per week (in hours)
- Candidate’s role in the outside employment, project, or activity
1. Approval will follow the process set out for current team members.  Any potential conflict of interest must be disclosed to and approved by the Chief Legal Officer in line with the Code of Business Conduct & Ethics. 
1. If the candidate entered No or None CES will continue processing the application. 
1. If the candidate discloses any inventions or side projects that should be listed on the PIAA, CES will notify the People Connect Team by emailing people-connect@gitlab.com with the link to the candidate's Greenhouse profile and PDF of the form. The subject line will include the candidate's name. From there, People Connect will follow their process per the [internal handbook](https://internal-handbook.gitlab.io/handbook/people-group/people-operations/people-connect/onboarding_process/#piaa). Both teams can reach out to legal_employment@gitlab.com for review of the disclosures and specific wording that may need to be added to the PIAA if necessary.

#### Steps as a current team member

1. Team member sends their request via email to their direct manager for approval and adds the Team Member Relations team `teammemberrelations@gitlab.com` in copy for visibility and to ensure consistency in application.

**Information needed in the email:**

- Project name (links to relevant website if available)
- Goal of the project/organization
- GitLab clients and/or team members who are involved in the project and scope of their involvement. (If applicable, please include tech stack used)
- Estimated time investment per week (in hours)
- Employment status/role in relation to the outside project (if applicable)

1. The manager will ask any additional questions if necessary. A manager may not approve a request for outside projects or activities for a variety of reasons, including team member performance. 
1. If the manager and Team Member Relations **approves**, they will then confirm this in the thread and add the applicable Director-level leader to the thread, for their review and approval. If the direct manager is also at a Director-level, they will add the next level leader (VP or C-level as appropriate) to the email thread for review and approval.
1. If a decision by the manager and Team Member Relations is made to **deny**, the manager will relay this to the team member, and then will forward the email thread to the People Connect Team member at `people-connect@gitlab.com' to be saved in the team member's Workday Documents folder.
1. If the Director/next-level leader feels additional review and approval is needed, they will then add the next level leader (VP or C-level as appropriate) to the email thread. If this is not deemed necessary, the Director/next-level leader will respond indicating their approval.
_Note: A minimum of two leaders must review all outside projects up to the E-group leader. If the E-group leader is the next level manager, the E-group leader approval or denial is sufficient.  Direct manager and Director-level are the usual levels. If the direct manager is at a Director-level, an additional level must approve or deny._
1. If the next level leader (VP or C-level) and Team Member Relations team feels additional review and guidance is needed, they will add the Senior Director of Legal, Employment and any other relevant leader to the thread. Any potential conflict of interest must be disclosed to and approved by the Chief Legal Officer in line with the [Code of Business Conduct & Ethics]https://ir.gitlab.com/static-files/7d8c7eb3-cb17-4d68-a607-1b7a1fa1c95d
1. If a decision is made to approve and all approvals are documented, the People Connect Team member will save the entire thread as a pdf to the team member's Workday Documents folder.
1. The People Connect Team member will then respond confirming receipt and state that the entire thread has been saved in the team member's Workday profile.
1. For team members employed in the Netherlands, The People Connect Team member will state the given in the form of the [Authorization Letter](https://docs.google.com/document/d/1sDIRTqZZu46uiX8McOVuyfPKh-26rTDnQ3xBaoWzNjM/edit). This letter must first be sent to the relevant E-group leader for signature, then to the team member. Once signed, this will be saved in the team member's Workday Documents folder.

For any approved outside activity in which the GitLab team member will use their GitLab account, this activity must be stored in a separate, personal project. All other work completed as part of the work they perform on behalf of GitLab should be stored in a GitLab namespace.

## Annual Code of Business Conduct & Ethics Administration Process

Employees are required to review and acknowledge GitLab's [Code of Business Conduct & Ethics](https://ir.gitlab.com/static-files/7d8c7eb3-cb17-4d68-a607-1b7a1fa1c95d) (aka "CoBCE") upon starting employment at GitLab, and annually thereafter. The [People Connect team](https://about.gitlab.com/job-families/people-group/people-connect/) oversees the annual CoBCE signature process, with the [People Connect Team](https://about.gitlab.com/job-families/people-group/people-connect/) administering and tracking [signature completion of new hires](https://internal-handbook.gitlab.io/handbook/people-group/people-operations/people-connect/onboarding_process/#request-signature-for-code-of-conduct-2021-acknowledgement-of-relocation-2021-consent-to-collect-and-use-data-regarding-race-ethnicity-and-social-media-policy-acknowledgment) as well as all team members during the annual signature process. The annual signature process occurs between February and April. Process steps include:

1. Legal reviews the most current version of the CoBCE. If any changes are suggested, they are incorporated and a most up-to-date version is created and updated in our handbook.  
1. The most current and updated CoBCE is uploaded to BambooHR and is formatted as a Signature Document, with fields for team member name, signature, and date.
1. The People Connect Team member crafts communications for the announcement of the process and specific email that will attach the signature request. Legal and the Internal Communications team will review and approve these communications.
1. The People Connect Team member announces to all team members (in Slack, email, and relevant call if necessary) that the annual CoBCE signature process is set to launch, and that the process will have a 30-day due date for 100% signature adherence.
1. The People Connect Team member creates the distribution list based on those who have not signed a CoBCE within the last three months prior to sending the new CoBCE.  
1. The People Connect Team sends out the CoBCE to all relevant team members from BambooHR by email. 
1. The People Connect Team member will report weekly on progress, send reminders, and follow the escalation process. 

### Code of Business Conduct & Ethics Escalation Process

1. Starting at two weeks post-launch, a reminder email is sent to individual team members who have not yet signed.
1. At three weeks post-launch, a second reminder email is sent to individual team members who have not yet signed, cc'ing their managers.
1. At four weeks post-launch, a third reminder email is sent to individual team members who have not yet signed, cc'ing their managers and next-level leaders.  
1. Past the 30-day due date, People Compliance will follow up with all team members who have not signed the CoBCE to indicate that their signature is required.  
1. People Compliance will alert Legal, who will provide guidance on next steps. 
1. All escalation communication for any team member who has still not signed the CoBCE must be saved in the team member's Workday Documents folder.
1. Team members must be aware that failure to sign the Code of Business Conduct & Ethics may result in consequences up to and including offboarding, due to values misalignment. 

## Contract Renewals

The below process can be used for the following:

- Fixed term contract to indefinite contract
- Fixed term contract to fixed term contract (after the initial contract expires)
- Contract update for invoice purposes due to individual incorporation of an entity
Note: In most cases this process will apply specifically for team members in the Netherlands.

When creating a new contract, if it is to be for 12 months, that timeframe is always to be written as (for example):

- Jan 1, 2010 to Dec 31, 2010
- Feb 20, 2004 to Feb 19, 2005

When renewing a contract, if it is to be for 12 months, the timeframes are at be seen as (for example):

- First 12-month contract starts on June 14, 2019. That entails that the contract ends on June 13, 2020.
- Second 12-month contract will start on June 14, 2020 and end on June 13, 2021.

1. Using the Relocation & Contract Renewal's [tracker](https://docs.google.com/spreadsheets/d/1Z45eOZ2rCRIKgGae3eOKQ8lhIbAPikSs5gLz3V8Kh9U/edit?ts=5e7a2c42#gid=84302455) view the upcoming team member contract expiry date. On the sheet you will see the People Connect Team member owner, if you are the owner be sure to note the end date and start the below process 2 months before the end date.
1. Take note of the team members details and reach out to the team members manager via email using the following [template](https://gitlab.com/gitlab-com/people-group/General/-/blob/master/.gitlab/email_templates/netherlands_temp_contract_renewal.md), be sure to CC the Team Member Relations team (teammemberrelations@gitlab.com).
1. Once you have received confirmation on next steps from the team members line manager, be sure to save the thread under the team members profile in BambooHR.
1. Using the correct contract template from the [templates folder](https://drive.google.com/drive/u/0/folders/1KlKyfJ0wg42GJHzmRbggVs_pTI0xeJRH) complete with required team member details. These details can be found on the team members Workday profile.
1. Do not keep the `Stock Options` line in the Key Terms section, unless additional shares are being given.
1. Be sure to write both the Start date and Birth date of the team member in the **Month DD, YYYY** format to prevent confusion.
1. Remove any wording regarding Probation Period [if applicable](/handbook/people-group/contracts-probation-periods/#probation-period).
1. When you have a completed contract be sure to allow a team member to peer review it for you. This can be done by posting the document link in the People Ops private slack channel. Indicate that you are reviewing it by using the 'Eyes' emoji.
1. Once reviewed, stage the contract for signing in Docusign.
1. Ensure that the GitLab signatory is the first to sign, followed by the team member. This can be done by selecting the assign signing order option.
1. When signed by both parties, save the contract to the team member's Workday Documents folder.
1. Update Workday to reflect the correct Job Information. Ensure the new contract information is added along with an end date if applicable.
1. Notify the Total Rewards team so that they may audit any Workday changes.
1. DE (Germany) contracts only: If no payroll information is on file, send a payroll questionnaire from Docusign. Once completed, upload to BambooHR and email `nonuspayroll@ gitlab.com` to notify.

## Netherlands Renewal Process

1. Two months before the contract ends, HR Savvy will send an email to the People Connect Team member email address.
1. The People Connect Team member that is in charge of allocating contract renewals will assign a member of the People Connect team to complete the contract renewal process.   
1. An [email](/handbook/people-group/engineering/onboarding/#netherlands-contract-ending-email) will need to be sent to the team member's manager two months before the team member's contract ends. The email will cc to 'people-connect@gitlab.com' and the Team Member Relations team (teammemberrelations@gitlab.com).
1. GitLab offers one fixed term 12-month contract to start. After the year-long fixed term contract, if the team member is in good standing, they are given an Indefinite Agreement beginning at the team member's second year with the company. If a team member has been with GitLab for over one year after their first fixed term contract finished due to a relocation, they are given an Indefinite Contract.
1. The Manager has then 3 weeks to evaluate the performance of the team member and discuss the planned course of action with the Team Member Relations team. 
1. At least 1 month before the end of the contract, the manager informs the People Connect team on whether to extend the contract and for what term.
1. At least 1 month before the end of the contract, the manager informs the team member of the extension or not. The Team Member Relations Partner can help with providing guidance on the messaging.
1. The People Connect Team member will check the [Netherlands Renewal tracker](https://docs.google.com/spreadsheets/d/1Z45eOZ2rCRIKgGae3eOKQ8lhIbAPikSs5gLz3V8Kh9U/edit#gid=84302455) in Google Drive to see if any previous action has been taken or check for notes for the specific team member. 
1. If a salary increase is required due to updated [visa salary requirements](/handbook/people-group/visas/#right-to-immigrate-to-the-netherlands) the People Connect Team member requests approvals from the team member's manager, total rewards and finally the team member's Division's E-Group leader.
1. The People Connect Team member uploads the approval to Workday Documents folder.
1. If the contract extension is approved, the People Connect Team member creates the contract and stages it via Docusign for the team member and [GitLab signatory](https://about.gitlab.com/handbook/hiring/talent-acquisition-framework/ces-contract-processes/#entity-contract-signatories) to sign. Add hr@savvy-group.eu to 'Receive a copy' once signed.
- Do not keep the `Stock Options` line in the Key Terms section, unless additional shares are being given.
- Be sure to write both the Start date and Birth date of the team member in the **Month DD, YYYY** format to prevent confusion.
- Check whether the team member is currently paid the holiday allowance monthly. If yes, confirm with the team member whether we can update to yearly. If the team member agrees to update, ensure to update pay frequency. If no, confirm okay with Legal - Employment and ensure to add correct wording to this effect in new contract. To streamline the process all team members should receive the holiday allowance yearly.
- Remove any wording regarding Probation Period [if applicable](/handbook/people-group/contracts-probation-periods/#probation-period).
- Note: A second [probation period](/handbook/people-group/contracts-probation-periods/#probation-period) should only be implemented if the team member's new contract reflects the start of an [entirely new role](https://wsadvocaten.nl/probationary-period-netherlands-dutch-law/). If the contract is simply a continuation of employment in the current role, a second probation period should not be applied.
- Remove any wording regarding certificate of good conduct, as this was already requested as part of their first Netherlands contract.
1. The People Connect Team member uploads the signed contract to the team members Workday Documents folder.
1. The People Connect Team member updates Workday to reflect the new contract: Open the team member's Workday profile > Click on actions > Job Change > add contract. Fill in start and end date, contract type and reason (if applicable)
1. Notify another People Connect Team member so that they may audit any Workday changes.

Note: A team member cannot have more than three fixed term contracts with the same employer in a row. If a fourth contract is offered by GitLab then it must be a permanent one.

### The Netherlands Contract Best Practices 
1. Best practice for team members in the Netherlands is to issue one 1-year Fixed term Contract prior to moving to an indefinite contract. After the completion of the 1-year Fixed term Contracts, we move to the indefinite contract. 

1. GitLab is to take into consideration the entire tenure of the team member at time of relocation to determine the type of contract to create. Due to the usual 1-year tenure at GitLab prior to a team member requesting to [relocate and immigrate to the Netherlands](/handbook/people-group/visas/#right-to-immigrate-to-the-netherlands), if the team member has been at GitLab more than one year, the best practice procedure would be to give the team member  an indefinite contract, with approval from their manager.  

## CXC Contract Renewal

CXC contracts are issued on a yearly basis, with contracts expiring after one year. CXC remains the responsible PEO for ensuring the contract renewal is completed for each team member.

- CXC will make contact with team members 2 weeks before their contracts are due to expire.
- CXC will create renewal contract and send for signing to the relevant team members.
- Once signed, CXC will send the renewed contract to GitLab.
- The People Connect Team member files the renewed contract to the team members Workday Documents folder and updates Workday to reflect the new contract: Open the team member's Workday profile > Click on actions > Job Change > add contract. Fill in start and end date, contract type and reason (if applicable)

Standard practice is to automatically renew CXC contracts. The [offboarding process](https://about.gitlab.com/handbook/people-group/offboarding/) will apply should a team member be terminated voluntarily or involuntarily.

## German Contracts

These are the steps to send contracts to team members in Germany.

1. Stage the documents for siganture in DocuSign. This document will be sent to the Statutory Director first and then to the team member. Remember to use the personal email address of the team member.
  - Once signed, save the file into the team members Workday profile.
1. At the same time you stage the documents for signature in DocuSign, you will also need to email a copy of the document to both the Statutory Director as well as the team member.
  - In the body of the email, you will need to explain the below steps for the process.
  1. The Statutory Director will need to print two copies of the document. They will need to sign both of the copies, and then mail them to the team member. Please include the address and phone number of the team member in the email. 
  1. Once the team member receives the documents in the mail, they will keep one copy and then will need to sign and send the other copy to our German Counsel. The address for our German Counsel is listed in the PeopleOps 1password vault. Please include this address in the email.
  - The postage fees can be submitted for reimbursement. Please also include that information in the email.
  - It is also best practice to recommend in the email that the Statutory Director confirm that they have mailed the document.
1. Once the German Legal Counsel receives the fully (in-person) signed documents, they will send a scanned copy of the signed documents to the People Connect team. The People Connect Team member will download and save a copy of the contract to Workday to the relevant team members Documents folder for our records.

## GitLab Inc Best Practices 

### GitLab, Inc with OTE

- For Relocations, Promotions, and Transfers of current team members be sure to remove the draw information as it is not applicable.

